body {
    background-color: #050608;
    border: 0;
    margin: 0;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* Cabecalho */
#header {
    max-width: 100vw;
    margin: 2rem 2rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

#social-nav .social-icon {
    margin-right: 10px; 
}

#header #logo {
    max-width: 170px;
    height: auto;
}

@media (max-width:768px) {
    #header {
        margin: 2rem 2rem 0 2.7rem;
    }
    
    #header #logo {
        max-width: 120px;
        height: auto;
    }
}

@media (max-width:480px) {
    #header {
        margin: 2rem 2rem 0 2.7rem;
    }
    #header #logo {
        max-width: 80px;
        height: auto;
        margin-bottom: 2rem;
    }
}


/* Banner principal */
.container-banner {
    background-image: url(/img/beatles-with-the-beatles-album-art.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-bottom: 10px;
}
#main-banner {
    max-width: 100vw;
    height: 75vh; 
    padding-right: 0;
    position: relative;
}

.banner-content{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    max-width: 95vw;
    height: 100%;
}

.banner-text{
    position: absolute;
    padding-left: 5%;
    padding-top: 3%;
    max-width: 40%;
}

.banner-text p {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: #f8f8ff;
    font-size: 0.9rem;

}

@media (max-width:888px) {
    .container-banner {
        background-image: url(/img/beatles-with-the-beatles-album-art.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
       
    }
    #main-banner {
        max-width: 100vw;
        padding-right: 0;
        position: relative;
        
    }
    .banner-content{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        max-width: 95vw;
        
    }
    
    .banner-text{
        position: relative;
        padding-left: 3%;
        padding-top: 15%;
        max-width: 70%;
    }
    .banner-text h1 {
        font-size: 15pt;
    }
}

@media (max-width:500px) {
    .container-banner {
        background-image: url(/img/beatles_banner_mobile.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }
    .banner-text{
        position: relative;
        padding-left: 3%;
        padding-top: 33%;
        max-width: 70%;
    }
}

/* Conheca os Beatles */

#meet-beatles {
    position: relative;
    background-color: #f8f8ff;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-title {
    padding-top: 2%;
}

#meet-beatles .members {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem 0;
    background-color: #f8f8ff;
    flex-wrap: wrap;
}

#meet-beatles .member-container {
    position: relative;
    width: 23%;
    margin: 10px 0;
    overflow: hidden;
}

#meet-beatles .members img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(5, 6, 8, 0.8);
    color: white;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease;
    height: 100%;
    
}

#meet-beatles .member-container:hover .overlay-name {
    opacity: 1;
    cursor: pointer;
}

.overlay-name h3 {
    text-align: center;
    font-size: 18pt;
    margin-top: 50%;
    font-family: Inter, sans-serif;
}

#meet-beatles .more {
    background-color: #f8f8ff;
}

@media (max-width: 768px) {
    #meet-beatles .members {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #meet-beatles .member-container {
        width: 80%;
        margin: 10px 0;
    }

    .overlay-name h3 {
        font-size: 16pt;
    }
}

#content-body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
/* Banner */
#second-banner img {
    width: 100%;
    height: auto;
}

/* Tabela Estatistica */
#statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}
.stats-numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50pt;
}

@media (max-width: 860px) {
    .stats-numbers {
        gap: 30pt;
    }
}

@media (max-width: 768px) {
    .stats-numbers {
       flex-direction: column;
       align-items: center;
       gap: 5pt;
       padding-bottom: 10pt;
    }
}

.table-header {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-style: normal;
    color: #f8f8ff;
    font-size: 20pt;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.table-content {
    font-family: "Inter", sans-serif;
    font-weight:400 ;
    font-style: normal;
    color: #f8f8ff;
    font-size: 13pt;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px 25px 5px; 
}

.table-header tr {
    border-spacing: 20px;
}

/* Quote Slideshow */

.slideshow-container {
    position: relative;
    background: #43385e;
    padding-top: 8%;
    padding-bottom: 2%;
  }
  
.quote {
    text-align: center;
    width: 50%;
    display: none;
    margin: auto;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-size: 2em;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    color: rgba(255, 255, 255, 0.747);
  }

  .dot-container {
    text-align: center;
    padding: 20px;
    background: #43385e;
  }
  
  
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

.quote q {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-style: normal;
    color:#f8f8ff;
    font-size: 22pt;
}

.quote .music {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    color:#ffffff;
    font-size: 13pt;
}

/* Footer */
#footer {
    background-color: white;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#footer p { 
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color:#161616;
    font-size: 0.8rem;
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Conteudo */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 15px;
    width: 55%;
}

.modal-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color:#1f1e1e;
    font-size: 12pt;
    padding: 10pt;
}

.modal-profile {
    border-radius: 10px;
}

@media (max-width: 900px) {
    .modal-main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .modal-profile {
        max-width: 50%;
    }
}

  /* ABOUT PAGE */
.main-about {
    max-width: 80%;
    margin: auto;
}

.main-about p {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:#ffffff;
    font-size: 12pt;
}

.main-about ul {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:#ffffff;
    font-size: 12pt;
    max-width: 80%;
}

/* Botoes */
button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 3%;
    border: none;
	cursor: pointer;
	color: #ffffff;
	font-family: "Inter", sans-serif;
}

.primary-button {
	background-color: #65558F;
	border-radius: 25px;
	font-size: 12pt;
	padding: 10px 32px;
	text-decoration: none;
}
.primary-button:hover {
	background-color:#43385e;
}
.primary-button:active {
	position:relative;
}

.secondary-button {
	background-color: #21005D;
	border-radius: 25px;
	font-size: 10pt;
	padding: 10px 32px;
	text-decoration: none;
}
.secondary-button:hover {
	background-color:#1d0d3b;
}
.secondary-button:active {
	position:relative;
}

/* Typo */
h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-style: normal;
    color:#f8f8ff;
    font-size: 3vw;
}

h2, .modal h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    color:#181818;
    font-size: 24pt;

}
h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-style: normal;
    color:#f8f8ff;
    font-size: 20pt;
}

h4 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color:#ffffff;
    font-size: 24pt;
}



